# Objetivo: Comprar as ações com as melhores perfomaces acumuladas ao longo dos últimos 11 meses e vender as com as piores

# Importando Pacotes

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.55)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from yfinance) (4.6.2)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.19.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [ ]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
import csv 
from pandas.tseries.offsets import MonthEnd

# Obtendo e Limpando os dados

In [ ]:
tickers = pd.read_csv('tickers.csv', sep=";")
tickers = pd.DataFrame(tickers)
tickers = tickers['0'].to_list()

In [ ]:
df2 = yf.download(tickers, start='2009-12-31',end='2020-12-31') # baixo todas as ações dela num período de 10 anos

[*********************100%***********************]  75 of 75 completed

In [ ]:
prices = df2['Adj Close'] # separo somente a coluna de fechamento de preços
prices

             ABEV3.SA   AZUL4.SA   B3SA3.SA  ...   VVAR3.SA   WEGE3.SA   YDUQ3.SA
Date                                         ...
2010-01-04   2.582460        NaN        NaN  ...   3.313528   3.751335        NaN
2010-01-05   2.597651        NaN        NaN  ...   3.230424   3.743146        NaN
2010-01-06   2.624151        NaN        NaN  ...   3.198460   3.763613        NaN
2010-01-07   2.636473        NaN        NaN  ...   3.206984   3.827053        NaN
2010-01-08   2.631408        NaN        NaN  ...   3.204853   3.966224        NaN
...               ...        ...        ...  ...        ...        ...        ...
2020-12-22  15.510000  35.270000  60.137371  ...  15.940000  72.820000  32.200001
2020-12-23  15.500000  37.700001  59.848061  ...  16.129999  72.620003  32.910000
2020-12-28  15.770000  37.770000  61.354488  ...  16.590000  75.500000  33.080002
2020-12-29  15.950000  37.669998  61.673729  ...  16.580000  75.150002  33.259998
2020-12-30  15.650000  39.299999  61.833351  ...  16.160000  75.739998  32.919998

[2729 rows x 75 columns]

In [ ]:
prices.index = pd.to_datetime(prices.index) # a coluna de datas vem como uma string por default, é necessario transforma-la para index

In [ ]:
mtl_ret = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() -1) # transformando os dados diários em variações percentuais mensais

In [ ]:
mtl_ret

            ABEV3.SA  AZUL4.SA  B3SA3.SA  ...  VVAR3.SA  WEGE3.SA  YDUQ3.SA
Date                                      ...
2010-01-31 -0.019609  0.000000  0.000000  ... -0.144694 -0.015275  0.000000
2010-02-28 -0.005800  0.000000  0.000000  ... -0.172932 -0.021608  0.000000
2010-03-31 -0.010329  0.000000  0.000000  ...  0.217273  0.075877  0.000000
2010-04-30  0.065855  0.000000  0.000000  ... -0.051531 -0.065789  0.000000
2010-05-31  0.001223  0.000000  0.000000  ... -0.047244 -0.042253  0.000000
...              ...       ...       ...  ...       ...       ...       ...
2020-08-31 -0.114388  0.093550 -0.073140  ...  0.050205 -0.040534 -0.204780
2020-09-30  0.018684  0.097704 -0.051645  ... -0.153659  0.017259  0.017069
2020-10-31 -0.028708 -0.075062 -0.071987  ... -0.010951  0.154186 -0.163809
2020-11-30  0.147783  0.686031  0.099510  ...  0.034382 -0.029804  0.440663
2020-12-31  0.119456  0.033666  0.104222  ... -0.089577  0.030012 -0.003029

[132 rows x 75 columns]

# Calculando o ProfitMomentum para apenas 1 mês

In [ ]:
past_11 = (mtl_ret+1).rolling(11).apply(np.prod)-1 # calcula a média com base nos últimos 11 meses, por isso perde 11 dados no começo

In [ ]:
past_11.head(14) # verificando

            ABEV3.SA  AZUL4.SA  B3SA3.SA  ...  VVAR3.SA  WEGE3.SA  YDUQ3.SA
Date                                      ...
2010-01-31       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-02-28       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-03-31       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-04-30       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-05-31       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-06-30       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-07-31       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-08-31       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-09-30       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-10-31       NaN       NaN       NaN  ...       NaN       NaN       NaN
2010-11-30  0.564864       0.0       0.0  ...  0.221865  0.269582       0.0
2010-12-31  0.798208       0.0       0.0  ...  0.466165  0.245292       0.0
2011-01-31  0.582404       0.0       0.0  ...  1.000000  0.159528       0.0
2011-02-28  0.577020       0.0       0.0  ...  1.046303  0.088061       0.0

[14 rows x 75 columns]

In [ ]:
formation = dt.datetime(2010,12,31) #  Para nao ter mais dados NaN, é criada uma nova base de dados para que começa a partir do 3º dado valido

In [ ]:
formation # ela é em formato datetime

datetime.datetime(2010, 12, 31, 0, 0)

In [ ]:
end_measurement = formation - MonthEnd(1) # Formation, sera utilizado na previsão que começa a partir do mes anterior

In [ ]:
end_measurement

Timestamp('2010-11-30 00:00:00')

In [ ]:
ret_12 = past_11.loc[end_measurement]

In [ ]:
ret_12 # todas as ações desta data

ABEV3.SA    0.564864
AZUL4.SA    0.000000
B3SA3.SA    0.000000
BBAS3.SA    0.154115
BBDC3.SA    0.060099
              ...
VALE3.SA    0.058515
VIVT4.SA    0.005694
VVAR3.SA    0.221865
WEGE3.SA    0.269582
YDUQ3.SA    0.000000
Name: 2010-11-30 00:00:00, Length: 75, dtype: float64

In [ ]:
ret_12 = ret_12.reset_index() # mudando para o formato dataframe

In [ ]:
ret_12

       index  2010-11-30 00:00:00
0   ABEV3.SA             0.564864
1   AZUL4.SA             0.000000
2   B3SA3.SA             0.000000
3   BBAS3.SA             0.154115
4   BBDC3.SA             0.060099
..       ...                  ...
70  VALE3.SA             0.058515
71  VIVT4.SA             0.005694
72  VVAR3.SA             0.221865
73  WEGE3.SA             0.269582
74  YDUQ3.SA             0.000000

[75 rows x 2 columns]

In [ ]:
ret_12['decile'] = pd.qcut(ret_12.iloc[:,1],10,labels=False,duplicates='drop') # adciona uma coluna dos decis (10º percentil em 10º percentil)

In [ ]:
ret_12 # as ações vencedoras no período são as do decil de número nove

       index  2010-11-30 00:00:00  decile
0   ABEV3.SA             0.564864       7
1   AZUL4.SA             0.000000       2
2   B3SA3.SA             0.000000       2
3   BBAS3.SA             0.154115       5
4   BBDC3.SA             0.060099       4
..       ...                  ...     ...
70  VALE3.SA             0.058515       4
71  VIVT4.SA             0.005694       3
72  VVAR3.SA             0.221865       5
73  WEGE3.SA             0.269582       5
74  YDUQ3.SA             0.000000       2

[75 rows x 3 columns]

In [ ]:
winners =  ret_12[ret_12.decile == 7]
losers = ret_12[ret_12.decile == 0]

In [ ]:
winners.head() # são os 10% com mais retorno no mês

       index  2010-11-30 00:00:00  decile
0   ABEV3.SA             0.564864       7
13  BRML3.SA             0.672131       7
15  CCRO3.SA             0.419805       7
25  ECOR3.SA             0.463158       7
54  PCAR3.SA             1.306676       7

In [ ]:
winnerret =  mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners['index'])] # isin(winners) significa que são apenas os do 9º decil
loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers['index'])]

In [ ]:
Momentumprofit = winnerret.mean() - loserret.mean() # Lucro do momentum

In [ ]:
Momentumprofit # lucro caso eu tivesse comprado as ações que mais renderam em novembro de 2010 e vendido elas em dezembro deste ano

-0.012756224808797234

# Fazendo uma função que itera para todos os meses

In [ ]:
def momentum(formation):
  end_measurement = formation - MonthEnd(1)
  ret_12 = past_11.loc[end_measurement]
  ret_12 = ret_12.reset_index()
  ret_12['decile'] = pd.qcut(ret_12.iloc[:,1],10,labels=False,duplicates='drop')
  winners =  ret_12[ret_12.decile == 7]
  losers = ret_12[ret_12.decile == 0]
  winnerret =  mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners['index'])] # isin(winners) significa que são apenas os do 9º decil
  loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers['index'])]
  Momentumprofit = winnerret.mean() - loserret.mean()
  return Momentumprofit

In [ ]:
formation

datetime.datetime(2010, 12, 31, 0, 0)

In [ ]:
momentum(formation) # testando para o mês que já calculei na mão

-0.012756224808797234

In [ ]:
for i in range((12*10)): # loop para 10 anos compostos por 12 meses
    print(formation + MonthEnd(i)) # printa todos os meses

2010-12-31 00:00:00
2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00
2012-01-31 00:00:00
2012-02-29 00:00:00
2012-03-31 00:00:00
2012-04-30 00:00:00
2012-05-31 00:00:00
2012-06-30 00:00:00
2012-07-31 00:00:00
2012-08-31 00:00:00
2012-09-30 00:00:00
2012-10-31 00:00:00
2012-11-30 00:00:00
2012-12-31 00:00:00
2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-03-31 00:00:00
2020-04-30 00:00:00
2020-05-31 00:00:00
2020-06-30 00:00:00
2020-07-31 00:00:00
2020-08-31 00:00:00
2020-09-30 00:00:00
2020-10-31 00:00:00
2020-11-30 00:00:00

In [ ]:
profits = []
dates = []

for i in range((12*10)-1):
  profits.append(momentum(formation + MonthEnd(i)))
  dates.append(formation + MonthEnd(i))

In [ ]:
len(profits) # agora todos os lucros de todos os meses estão printados nesta lista

119

In [ ]:
len(dates)

119

# Benchmark (verificando como esta estratégia performa em relação ao mercado)

In [ ]:
BVSP = yf.download('^BVSP', start='2011-2-28',end='2020-12-31')

[*********************100%***********************]  1 of 1 completed

In [ ]:
BVSP

                Open      High       Low     Close  Adj Close   Volume
Date
2011-02-28   66909.0   67458.0   66687.0   67383.0    67383.0  2640400
2011-03-01   67381.0   67708.0   66243.0   66243.0    66243.0  2166400
2011-03-02   66242.0   67282.0   66101.0   67282.0    67282.0  2518600
2011-03-03   67284.0   68188.0   67284.0   68146.0    68146.0  2254600
2011-03-04   68138.0   68220.0   67514.0   68012.0    68012.0  1840000
...              ...       ...       ...       ...        ...      ...
2020-12-22  115825.0  116903.0  115648.0  116348.0   116348.0  6947900
2020-12-23  116636.0  118311.0  116636.0  117857.0   117857.0  6483300
2020-12-28  117806.0  119213.0  117805.0  119051.0   119051.0  7171700
2020-12-29  119130.0  119861.0  118750.0  119475.0   119475.0  6769700
2020-12-30  119410.0  120150.0  118919.0  119306.0   119306.0  8235700

[2430 rows x 6 columns]

In [ ]:
BVSP = BVSP['Adj Close'] # pega os dados do ibovespa americano
len(SP)

2430

In [ ]:
BVSP_mtl = BVSP.pct_change().resample('M').agg(lambda x: (x+1).prod() -1)

In [ ]:
len(BVSP_mtl)

119

In [ ]:
frame = pd.DataFrame(profits) # converto para dataframe

In [ ]:
frame # o profits, calculado no loop

            0
0   -0.012756
1   -0.028663
2   -0.018891
3    0.035243
4   -0.067860
..        ...
114  0.048644
115 -0.015774
116  0.049707
117  0.103780
118 -0.180439

[119 rows x 1 columns]

In [ ]:
frame['Ibovespa'] = BVSP_mtl.values # adciono uma coluna com as variações percentuais do SP500 neste dataframe

In [ ]:
frame

            0  Ibovespa
0   -0.012756  0.000000
1   -0.028663  0.017868
2   -0.018891 -0.035779
3    0.035243 -0.022878
4   -0.067860 -0.034293
..        ...       ...
114  0.048644 -0.034427
115 -0.015774 -0.047963
116  0.049707 -0.006881
117  0.103780  0.158975
118 -0.180439  0.095676

[119 rows x 2 columns]

In [ ]:
frame['excess'] = frame.iloc[:,0] - frame.iloc[:,1] # a performace é a subtração destas duas colunas

In [ ]:
frame['outperformed'] = ['Yes' if i > 0 else 'No' for i in frame.excess]

In [ ]:
frame # outperformed = performace positiva

            0  Ibovespa    excess outperformed
0   -0.012756  0.000000 -0.012756           No
1   -0.028663  0.017868 -0.046531           No
2   -0.018891 -0.035779  0.016888          Yes
3    0.035243 -0.022878  0.058121          Yes
4   -0.067860 -0.034293 -0.033567           No
..        ...       ...       ...          ...
114  0.048644 -0.034427  0.083071          Yes
115 -0.015774 -0.047963  0.032188          Yes
116  0.049707 -0.006881  0.056588          Yes
117  0.103780  0.158975 -0.055195           No
118 -0.180439  0.095676 -0.276115           No

[119 rows x 4 columns]

In [ ]:
frame[frame.outperformed == "Yes"].shape # contando elas

(54, 4)

In [ ]:
frame.shape

(119, 4)

In [ ]:
54/119 # taxa de acerto desta estratégia

0.453781512605042